* {
    box-sizing: border-box;
}

.mic-apple-main {
    text-align: center;
}

.mic-apple-container {
    background-image: url(src/your_verse_hero.jpg);
    background-position: 50% 100%;
    width: 1400px;
    height: 700px;
    margin: 0 auto;
}

.mic-apple-view {
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

.mic-apple-nav-bar {
    padding-top: 60px;
    justify-content: space-evenly;
}

.navbarcontainer {
    border-radius: 10px;
    text-align: center;
}

.mic-apple-disp {
    display: inline-block;
}

.mic-apple-view-list {
    border: 1px solid gray;
    width: 40px;
    margin-right: -4.5px;
    margin-left: -4.5px;
    padding: 5px 45px;
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(#5d5d5d, #5d5d5d, #7c7c7c, #7c7c7c);
}

.mic-apple-view-list:hover {
    background-color: black;
}

.mic-apple-nav-bar>ul {
    list-style-type: none;
    background-image: linear-gradient(#5d5d5d, #5d5d5d, #7c7c7c, #7c7c7c);
}

.mic-apple-nav-bar>ul>li {
    display: inline;
}

#applelogo {
    width: 15px;
    height: 15px;
}

.center {
    text-align: center;
}

h1 {
    font-weight: lighter;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 64px;
}

h2 {
    font-weight: lighter;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 44px;
}

h3 {
    font-weight: lighter;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.whitelinks {
    color: white;
    text-decoration: none;
}

.whitelinks2 {
    color: white;
    text-decoration: none;
}

.whitelinks2:hover {
    color: white;
    text-decoration: underline;
}

.imagesgrid-container {
    width: 1400px;
    margin: 0 auto;
}

.imagesgrid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0 auto;
}

#img1 {
    grid-column-start: 1;
    width: 100%;
    height: 220px;
    padding-top: 4px;
    padding-right: 4px;
}

#img2 {
    grid-column-start: 2;
    width: 100%;
    height: 220px;
    padding-top: 4px;
    padding-right: 4px;
}

#img3 {
    grid-column-start: 3;
    width: 100%;
    height: 220px;
    padding-top: 4px;
    padding-right: 4px;
}

#img4 {
    grid-column-start: 4;
    width: 100%;
    height: 220px;
    padding-top: 4px;
}

.footer-container {
    width: 1100px;
    margin: 0 auto;
    font-size: 0.65rem;
    padding-top: 15px;
}

#footerflex {
    display: flex;
    justify-content: space-between;
}


/* .footer-left {
    float: left;
}

.footer-right {
    justify-content: right;
}
 */

#links {
    display: inline;
}

.links-image {
    height: 15px;
}

.linksstyle {
    color: #08c;
    text-decoration: none;
}

.linksstyle:hover {
    color: #08c;
    text-decoration: underline;
}